<section class="carousel-wrapper" [ngStyle]="carouselWrapperStyle">
    <ul class="carousel-inner" #carousel>
        <li *ngFor="let item of items" class="carousel-item">
            <ng-container [ngTemplateOutlet]="item.tpl"></ng-container>
        </li>
    </ul>
</section>
<ng-container *ngIf="showControls">
    <button mat-icon-button class="carousel__prev-button" (click)="prev()">
        <i class="pi pi-angle-left"></i>
    </button>
    <button mat-icon-button class="carousel__next-button" (click)="next()">
        <i class="pi pi-angle-right"></i>
    </button>
</ng-container>