header {
  margin-bottom: 25px;

  .logo {
    cursor: pointer;
    img {
      width: 160px;
    }
  }
  .pi-shopping-cart {
    cursor: pointer;
  }

  .tools {
    .pi {
      margin-right: 10px;
    }
  }

  .logo-container,
  .tools,
  .search,
  .navigation {
    display: flex;
    align-items: center;

    .pi-bars {
      display: none;
    }
  }
}

.top-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8em;
  position: relative;
  width: 100%;

  .tools {
    position: absolute;
    right: 10em;
  }
}

.bottom-bar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #5677fc;
  color: #fff;
  padding: 1.4em 0;

  a {
    color: #fff;
  }
}

@media (max-width: 768px) {
  header {
    .search {
      display: none;
    }
    .pi-shopping-cart {
      position: relative;
      right: -6em;
    }
    .bottom-bar {
      flex-direction: column;
      align-items: center;
      padding: 0;
      transition: all 0.3s ease-in-out;

      .navigation {
        width: 100%;
        justify-content: center;
        .pi-bars {
          display: block;
          position: absolute;
          right: 1em;
          top: 6em;
          cursor: pointer;
          font-size: 1.4em;
          color: #000;
        }
      }

      span {
        padding-bottom: 1em;
      }
    }
  }
}
