<div class="footer-container">
    <div class="footer-wrapper">
        <div class="footer-nav">
            <div class="footer-item">
                <span>Get To Know Us</span>
                <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Our Services</a></li>
                    <li><a href="#">Stores</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Order Tracking</a></li>
                </ul>
            </div>
            <div class="footer-item">
                <span>Customer Service</span>
                <ul>
                    <li><a href="#">My Account</a></li>
                    <li><a href="#">Order Tracking</a></li>
                    <li><a href="#">Pricing Plans</a></li>
                    <li><a href="#">Terms & Conditions</a></li>
                    <li><a href="#">Our Team</a></li>
                    <li><a href="#">FAQ</a></li>
                </ul>
            </div>
            <div class="footer-item">
                <span>Quick Links</span>
                <ul>
                    <li><a href="#">Smartphones</a></li>
                    <li><a href="#">Headphones</a></li>
                    <li><a href="#">Laptop & Tablet</a></li>
                    <li><a href="#">Gadgets</a></li>
                </ul>
            </div>
            <div class="footer-item">
                <span>Sign Up To NewsLetter</span>
                <div> <input type="text" placeholder="Your Email Address"> <button>OK</button>
                </div>
                <p>Stay up to date with all the actions that we are saved for all our customers.
                </p>
            </div>
        </div>
        <hr>
        <div class="footer-sub">
            <span>© 2022 Angular Webshop, All Rights Reserved</span>
            <img src="/assets/img/payment.png" alt="">
        </div>
    </div>
</div>